.contactList {
  list-style: none;
  width: 600px;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: lightgray;
  border-radius: 10px;
  padding: 5px;
}
.name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.number {
  font-size: 16px;
  color: crimson;
  font-weight: 900;
}
